h1 {
    margin-top: 40px;
    margin-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
    font-size: 40px;
}

body {
    margin-left: 20px;
    margin-bottom: 40px;
    background: rgb(0, 0, 29);
    size-adjust: 100%;
    
}

.btn-primary {
    margin-top: 20px;
}

.form-check-label {
    margin-top: 10px;
    color: aliceblue;
}

.form-check-input {
    margin-top: 15px;
}

.form-row {
    color: aliceblue;
}

.col-md-6 {
    color: aliceblue;
}

.col-md-4 {
    color: aliceblue;
}

.col-md-2 {
    color: aliceblue;
}

.btn-primary {
    background-color: #8a058a !important;
    border-color: #8a058a !important;

}

.btn-primary:hover {
    background-color: #470147 !important;
    border-color: #470147 !important;
    border-width: 4px;
}
.form-group {
    font-size: 25px;
}

#gender, #birthdate, #password, #email, #lastName, #firstName {
    font-size: 25px;
}
.form-check-input {
    font-size: 20px;
}
.form-check-label {
    font-size: 25px;
}
.custom-button {
    width: 100px;
    height: 50px; 
    font-size: 18px; 
}
.custom-button:hover {
    width: 106px;
    height: 53px; 
    font-size: 20px; 
}